/* --------------first way------------------*/
/* 
body {
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* --------------second way------------------*/
/* body{
    height: 100vh;
}
img{ 
    position: relative;
    display: block;
    margin: auto;
    top: calc(50% - 150px);
} */


/* --------------third way------------------*/
body{
    height: 100vh;
}

img{
   display:block;
   margin: auto;
   position: relative;
   top:50%;
   transform:translate(0, -50%);
}

html{
    overflow: hidden;
}

img:active{
    transform-origin: 50% 25%;
    transform: rotate(180deg);
   
   
}
